.categoryCard{
width: 48%;
height: 130px;
border:  solid #808080;
border-radius: 20px;
display: flex;
background-color: #212121;
flex-direction:column;
align-content: center;
justify-content: center;
}

.categoryContent{
width: 140px;
height: 40px;
display: flex;
gap: 10px;
flex-direction: column;


}

.viewBtn{
width: 70px;
height: 35px;
border-radius: 7px;
color: white;
font-size: small;
background-color: blue;

}

.deleteBtn{
width: 70px;
height: 35px;
font-size: small;
border-radius: 7px;
color: white;
background-color: rgb(180, 48, 76);
}
.UPdateBtn{
width: 80px;
height: 35px;
font-size: small;
border-radius: 7px;
color: white;
background-color: blue;

}

.btnContent{
  display: flex;
  gap: 5px;
  flex-direction: row;
  margin-left: 50px;
 
}

.h2{
    font-size: medium;
    margin-left: 50px;
   
}