.loginContainer{
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.loginCard{
width: 80%;
height: 70%;
display: flex;
flex-direction: column;
gap: 25px;
border :solid grey;
align-items: center;
}


.tittle{
color: white;
font-weight: bolder;
}

.email{
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #808080;
}

.password{
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #808080;
}

.emailInput{
  width: 250px;
  height: 30px;
  border-radius: 10px;
}

.passwordInput{
   width: 250px;
  height: 30px;
  border-radius: 10px;
}

.loginBtn{
  width: 100px;
  height: 30px;
  border-radius: 7px;
  color: white;
  background-color: rgb(180, 48, 76);
}

.registerBtn{
  width: 100px;
  height: 30px;
  border-radius: 7px;
  color: white;
  background-color: #808080;
}
.account{
  color: white;
}