.categoryCard{
  width:  98%;
  height: 70vh;
  display:flex;
  flex-direction: row;

}

.categoryBtn{
  width: 100px;  
  height: 30px;
  border-radius: 7px;
  color: white;
  background-color: #808080;
}

.deleteBtn{
  width: 100px;
  height: 30px;
  border-radius: 7px;
  color: white;
  background-color: rgb(180, 48, 76);
}