.itemContainer{
    width: 98%;
    height: 70vh;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: solid red; */
}

.itemContent{
  width: 99%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: solid grey;
  border-radius: 20px;
  align-items: center;
}

/* .name,.quantity, .optional{
  width: 250px;
  height: 30px;
  border-radius: 10px;
} */

input{
  width: 350px;
  height: 50px;
  border-radius: 10px;
  /* border: solid red; */
}