.container {
  height: 100px;
  background-color: #212121;
  display: flex;
   
}

.navbarContent {
  width: 100%;
  height: 80%;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  gap: 5px;
  justify-content: space-around;
  border-radius: black;
  background-color: #808080;
  /* border: 2px solid red ; */
}

.homeImage {
  width: 60px;
  height: 50px;
  /* border: 2px solid red ; */
}

.tittle {
  font-size: x-large;
  font-style: normal;
  color: white;
  margin-bottom: 20px;
  /* border: 2px solid red ; */
}
.greyProfile {
  width: 60px;
  height: 50px;
  /* border: 2px solid red ; */
}
